# Files
test.html
setting
notes
test

# Folders
__pycache__/
.venv/
Dict/
example-folder/
future-ideas/
node_modules/

# Node files
package-lock.json
package.json

# User folder
Dict/
data/
Notes/
web/img/