# Files
test.html
setting
notes
test
,

# Folders
__pycache__/
example-folder/
future-ideas/
node_modules/
.git
Linux/.venv
MacOS/.venv
Windows/.venv
BUILD/
Appmakethingy/

# Node files
package-lock.json
package.json

